@font-face {
font-family: 'Nokia Sans S60';
src: 
url('../fonts/nokia/NokiaSansS60-Regular.woff') format('woff'),
url('../fonts/nokia/NokiaSansS60-Regular.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Geometric';
src: 
url('../fonts/geometric/GeometricSansSerifv1.woff') format('woff'),
url('../fonts/geometric/GeometricSansSerifv1.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Open Sans';
src: 
url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
url('../fonts/opensans/OpenSans-Regular.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Open Sans';
src: 
url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
url('../fonts/opensans/OpenSans-Bold.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Roboto Condensed';
src: 
url('../fonts/robotocondensed/RobotoCondensed-Regular.woff') format('woff'),
url('../fonts/robotocondensed/RobotoCondensed-Regular.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Roboto Condensed';
src: 
url('../fonts/robotocondensed/RobotoCondensed-Bold.woff') format('woff'),
url('../fonts/robotocondensed/RobotoCondensed-Bold.woff2') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Roboto';
src: 
url('../fonts/roboto/Roboto-Light.woff') format('woff'),
url('../fonts/roboto/Roboto-Light.woff2') format('woff');
font-weight: 300;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Roboto';
src: 
url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
url('../fonts/roboto/Roboto-Regular.woff2') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Roboto';
src: 
url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
url('../fonts/roboto/Roboto-Bold.woff2') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}