@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .header
    padding: 1rem 0
@media screen and ( max-width: 992px  )
  .call
    display: none
@media screen and ( max-width: 820px  )
  .logo
    &__link
      display: none
    &__title
      margin-left: 0
    &__subtitle
      margin-left: 0
  .phone
    &--small
      font-size: 1.7rem
@media screen and ( max-width: 570px )
  .logo
    &__title
      font-size: 1.3rem
  .phone
    font-size: 1.3rem
    &--small
      font-size: 1.3rem
@media screen and ( max-width: 420px )
  .logo
    &__subtitle
      display: none