.about
  background: $light
  &-wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
  &__description
    margin: 0 auto
  &__text
    max-width: 71rem
    color: $deep
    font-family: 'Roboto', sans-serif
    font-size: 1.05rem
    font-weight: 300
    line-height: 1.5
    &--bold
      font-weight: bold
  &__video
    display: flex
    justify-content: center
    align-self: center
    width: 100%
    background: url('../img/about/about-bg.png') no-repeat
    background-size: 80% 89%
    background-position: 57% 100%
