@font-face {
  font-family: 'Nokia Sans S60';
  src: url("../fonts/nokia/NokiaSansS60-Regular.woff") format("woff"), url("../fonts/nokia/NokiaSansS60-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Geometric';
  src: url("../fonts/geometric/GeometricSansSerifv1.woff") format("woff"), url("../fonts/geometric/GeometricSansSerifv1.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Regular.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Bold.woff") format("woff"), url("../fonts/opensans/OpenSans-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../fonts/robotocondensed/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/robotocondensed/RobotoCondensed-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/robotocondensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/robotocondensed/RobotoCondensed-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

input {
  min-width: 17.9rem;
  padding: 0.9rem;
  padding-right: 1rem;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  color: #393939;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1; }
  input::-webkit-input-placeholder {
    color: #393939; }
  input::-moz-placeholder {
    color: #393939; }
  input:-ms-input-placeholder {
    color: #393939; }
  input::-ms-input-placeholder {
    color: #393939; }
  input::placeholder {
    color: #393939; }
  input:focus {
    outline: none;
    box-shadow: 0px 5px 15px rgba(255, 249, 230, 0.2); }

.button {
  padding: 1rem 0;
  border: none;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.93rem;
  font-weight: 500;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1; }
  .button:hover {
    cursor: pointer; }
  .button--primary {
    background: -webkit-gradient(linear, left bottom, left top, from(#03c9a9), to(#13efcb));
    background: linear-gradient(to top, #03c9a9 0%, #13efcb 100%); }
    .button--primary:hover {
      background: #04cdac; }

.policy {
  position: relative;
  padding: 0.4rem 1.5rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  text-align: center; }
  .policy::before {
    position: absolute;
    content: url("../img/hero/policy.png");
    left: -1.2px; }
  .policy::after {
    position: absolute;
    content: url("../img/hero/policy.png");
    top: 5px;
    right: 0; }

.input-group--name {
  position: relative; }
  .input-group--name::after {
    content: url("../img/hero/name.svg");
    position: absolute;
    z-index: 9;
    top: 7px;
    right: 8px; }

.input-group--email {
  position: relative; }
  .input-group--email::after {
    content: url("../img/hero/mailbox.svg");
    position: absolute;
    z-index: 9;
    top: 12px;
    right: 5px; }

.input-group--phone {
  position: relative; }
  .input-group--phone::after {
    content: url("../img/hero/phone.svg");
    position: absolute;
    z-index: 9;
    top: 9px;
    right: 8px; }

.card {
  max-width: 24.21rem;
  padding: 1.7rem 2.07rem; }

.section-title {
  margin-bottom: 2.5rem; }
  .section-title__image {
    margin-top: -1rem; }

input.invalid {
  border-bottom: none; }

div.invalid {
  position: absolute;
  font-size: 0.8rem;
  width: 100%;
  bottom: -11px;
  color: #1d0202; }

.container {
  width: 80%;
  max-width: 1925px;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.col-70 {
  flex-basis: 70%; }

.col-30 {
  flex-basis: 30%; }

.col-60 {
  flex-basis: 60%; }

.col-40 {
  flex-basis: 40%; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  font-size: 1rem; }

img {
  max-width: 100%; }

.section {
  padding: 50px 0; }
  .section-title {
    text-align: center; }
    .section-title__heading {
      font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
      font-size: 2.285rem;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 138.6%;
      color: #1b1b1b; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #f9e7b7 url("../img/header-bg.png") no-repeat 100% 100%/cover;
  padding-top: 0.6rem;
  padding-bottom: 1.2rem;
  padding-left: 9.64rem;
  padding-right: 9.64rem; }

.menu {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

.logo__title {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  margin-left: 10rem;
  color: #393939;
  font-family: 'Geometric', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 5;
  text-transform: uppercase; }

.logo__subtitle {
  display: block;
  margin-left: 10rem;
  color: #f64747;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 0.9; }

.logo__link {
  position: absolute;
  top: -1.2rem;
  z-index: 199; }

.phone {
  color: #393939;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none; }
  .phone--small {
    font-size: 1.3rem; }

.call {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .call__link {
    position: relative;
    margin-left: -1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #f64747;
    text-decoration: none;
    border-bottom: 1px dashed #f64747; }
    .call__link:hover {
      border-bottom: 1px dashed transparent; }
    .call__link::before {
      position: absolute;
      width: 15px;
      height: 1px;
      content: url("../img/call-arrow.svg");
      left: -42px;
      top: 3px; }

.hero {
  padding-top: 7.142rem;
  padding-bottom: 5rem; }
  .hero__title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    font-weight: bold;
    color: #7d3803;
    font-size: 3.2rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center; }
    .hero__title--gray {
      color: #393939;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 0.9; }
  .hero__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start; }
  .hero__input-group {
    margin-bottom: 0.8rem; }
  .hero__button {
    margin-top: 0.3rem; }

.form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .form-wrap {
    max-width: 24rem;
    padding: 1rem;
    background: #f64747;
    border: 5px solid #fff9e6; }
    .form-wrap__title {
      color: #fff9e6;
      font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase; }
      .form-wrap__title--small {
        font-size: 1.27rem; }

.advantages {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  -webkit-box-align: end;
  align-items: flex-end;
  min-height: 25rem;
  list-style: none; }
  .advantages__item {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 2.6rem;
    max-width: 15rem;
    min-height: 15rem;
    color: #393939;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    background: transparent url("../img/hero/hero.png") no-repeat center;
    background-size: 101% 118%;
    background-position: 107% -13%; }

.container--bg {
  background: #ffffff url("../img/hero/hero-bg.png") no-repeat;
  background-position: 290% -58%;
  background-size: 96% 96%; }

.gallery {
  padding-top: 2rem;
  background: #fff9e6 url("../img/gallery/gallery-bg.png") no-repeat;
  background-size: 50% 87%;
  background-position: 7%  168%; }
  .gallery__section-title {
    margin-bottom: 2rem; }
  .gallery__description {
    padding-right: 16rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6; }

.swiper-container {
  max-width: 40.42rem;
  min-height: 23rem;
  border: 5px solid #ffffff; }

.swiper-slide {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .swiper-slider-image {
    display: block;
    width: 100%; }

.swiper-pagination {
  max-width: 110px;
  background-color: rgba(0, 0, 0, 0.3); }
  .swiper-pagination-bullet {
    border-radius: 0;
    background-color: #ffffff;
    opacity: 1; }
    .swiper-pagination-bullet-active {
      border-radius: 0;
      background-color: #f64747; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: calc(50% - 55px);
  width: 100%; }

.swiper-pagination-custom {
  bottom: 10px;
  left: calc(50% - 55px);
  width: 100%; }

.swiper-pagination-fraction {
  bottom: 10px;
  left: calc(50% - 55px);
  width: 100%; }

.swiper-button-prev, .swiper-button-next {
  top: auto;
  bottom: 0;
  background-size: 10px;
  width: 10px;
  height: 14px; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.swiper-button-prev {
  left: 227px;
  bottom: 11px;
  background: url("../img/gallery/arrow-prev.svg") no-repeat center; }

.swiper-button-next {
  right: 227px;
  bottom: 11px;
  background: url("../img/gallery/arrow-next.svg") no-repeat center; }

.general {
  padding-bottom: 0;
  background: #ffffff url("../img/general/general-bg.png") no-repeat;
  background-size: 50% 50%;
  background-position: 105% 60%; }
  .general__section-title {
    position: relative;
    z-index: 79;
    margin-bottom: 2rem; }
  .general__video {
    position: relative;
    display: -webkit-box;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 43.5rem;
    height: 28rem;
    background: #272727 url("../img/general/video-mask.png") no-repeat;
    background-size: cover;
    background-position: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25); }
  .general__image {
    margin-bottom: -7px; }
    .general__image-wrap {
      position: relative;
      z-index: 1;
      margin-top: -10rem; }

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  margin: auto;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.quality {
  background-color: #fff9e6; }
  .quality__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 2rem; }
    .quality__item--left {
      padding-left: 10rem; }
    .quality__item--right {
      padding-right: 12rem; }
  .quality__title {
    margin-bottom: -15px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #1b1b1b;
    line-height: 1.5; }
  .quality__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    font-weight: 300;
    color: #1b1b1b;
    line-height: 1.5; }
  .quality__image {
    display: block;
    max-width: 100%;
    width: 22rem; }
    .quality__image-wrap {
      margin-right: 2rem; }

.catalog {
  background-color: #ffffff; }
  .catalog__card {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
    .catalog__card:hover {
      outline: 1px solid #d6d6d6; }

.card-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 12rem;
  padding-right: 12rem; }

.card__description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  color: #1b1b1b;
  line-height: 1.5;
  text-align: center; }

.card__title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase; }

.card__text {
  margin-bottom: 2rem; }

.card__button {
  display: block;
  padding: 1.1rem 1.7rem;
  border: 1px solid #e64132;
  color: #e64132;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }
  .card__button:hover {
    color: #ffffff;
    background-color: #e64132; }

.card__image-wrap {
  height: 12rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.6); }
  .modal--visible {
    opacity: 1;
    visibility: visible; }
  .modal__dialog {
    position: relative;
    max-width: 25rem;
    padding: 2rem;
    background: #f64747;
    border: 3px solid #fff9e6; }
  .modal__close {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 28px;
    height: 28px;
    margin: 14px;
    background: transparent url("../img/modal/close.svg") no-repeat center;
    border: none;
    outline: none;
    cursor: pointer; }
  .modal__title {
    color: #fff9e6;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center; }
  .modal__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .modal__input {
    width: 20.3rem; }
    .modal__input-group {
      margin-bottom: 0.7rem; }
  .modal__button {
    margin-top: 0.3rem; }
  .modal-up {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 219;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.6); }
    .modal-up--visible {
      opacity: 1;
      visibility: visible; }
    .modal-up__dialog {
      position: relative;
      max-width: 25rem;
      padding: 3rem;
      background: #f64747;
      border: 3px solid #fff9e6; }
    .modal-up__close {
      position: absolute;
      right: -5px;
      top: -5px;
      width: 28px;
      height: 28px;
      margin: 14px;
      background: transparent url("../img/modal/close.svg") no-repeat center;
      border: none;
      outline: none;
      cursor: pointer; }
    .modal-up__title {
      color: #fff9e6;
      font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      text-align: center; }

@media screen and (max-width: 1691px) {
  .card-wrap {
    padding-left: 8rem;
    padding-right: 8rem; }
  .quality__image {
    width: 24rem; } }

@media screen and (max-width: 1650px) {
  .general__image-wrap {
    margin-top: -8rem; } }

@media screen and (max-width: 1640px) {
  .swiper-container {
    margin-top: 1rem; }
  .quality__image {
    width: 25rem; } }

@media screen and (max-width: 1691px) {
  .card-wrap {
    padding-left: 5rem;
    padding-right: 5rem; }
  .quality__image {
    width: 26rem; } }

@media screen and (max-width: 1540px) {
  .container--bg {
    background: #ffffff url("../img/hero/hero-bg.png") no-repeat;
    background-position: 743% -58%;
    background-size: 98% 98%; }
  .gallery {
    background: #fff9e6 url("../img/gallery/gallery-bg.png") no-repeat;
    background-size: 59% 92%;
    background-position: -2%  200%; }
    .gallery__description {
      padding-right: 4rem; }
  .general__image-wrap {
    margin-top: -5rem; }
  .quality__image {
    width: 27rem; } }

@media screen and (max-width: 1450px) {
  .card-wrap {
    padding-left: 3rem;
    padding-right: 3rem; }
  .quality__image {
    width: 28rem; } }

@media screen and (max-width: 1440px) {
  .gallery {
    background: #fff9e6 url("../img/gallery/gallery-bg-small.png") no-repeat;
    background-size: 70% 90%;
    background-position: -1%  100%; }
    .gallery__description {
      padding-right: 5rem; }
  .general__image-wrap {
    margin-top: -4rem; }
  .quality__image {
    width: 29rem; } }

@media screen and (max-width: 1376px) {
  .card-wrap {
    padding-left: 0;
    padding-right: 0; }
  .quality__image {
    width: 30rem; } }

@media screen and (max-width: 1370px) {
  .gallery {
    background: #fff9e6 url("../img/gallery/gallery-bg-small.png") no-repeat;
    background-size: 70% 90%;
    background-position: -1%  90%; }
    .gallery__description {
      padding-right: 5rem; }
  .general__image-wrap {
    margin-top: -2rem; }
  .quality__image {
    width: 31rem; } }

@media screen and (max-width: 1300px) {
  .general__image-wrap {
    margin-top: -1rem; }
  .quality__image {
    width: 31rem; } }

@media screen and (max-width: 1271px) {
  .catalog__card {
    max-width: 22rem; }
  .quality__image {
    width: 31rem; } }

@media screen and (max-width: 1270px) {
  .gallery {
    background: #fff9e6 url("../img/gallery/gallery-bg-small.png") no-repeat;
    background-size: 70% 90%;
    background-position: -1%  -1%; }
    .gallery__description {
      padding-right: 5rem; }
  .general__image-wrap {
    margin-top: -0.5rem; }
  .quality__image {
    width: 31rem; } }

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }
  .header {
    padding: 1rem 0; }
  .container--bg {
    background: #ffffff url("../img/hero/hero-bg.png") no-repeat;
    background-position: 743% -58%;
    background-size: 98% 98%; }
  .row {
    -webkit-box-align: center;
    align-items: center; }
  .swiper-button-prev {
    left: 185px; }
  .swiper-button-next {
    right: 185px; }
  .general__image-wrap {
    margin-top: -1rem; }
  .general__video {
    background: #272727 url("../img/general/video-mask.png") center no-repeat;
    background-size: 102% 101%; }
  .quality__item--left {
    padding-left: 7rem; }
  .quality__item--right {
    padding-right: 9rem; } }

@media screen and (max-width: 1030px) {
  .gallery {
    background-image: none; }
    .gallery__description {
      padding-right: 4rem;
      padding-left: 1rem; }
  .general__image-wrap {
    margin-top: 1rem; } }

@media screen and (max-width: 992px) {
  .call {
    display: none; }
  .hero__title {
    margin-bottom: 3rem; }
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
    .advantages__item {
      width: 100%; }
  .container--bg {
    background: #ffffff url("../img/hero/hero-bg.png") no-repeat;
    background-position: 365% 60%;
    background-size: 97% 50%; }
  .gallery__description {
    padding-right: 2rem;
    padding-left: 1rem; }
  .general__image-wrap {
    margin-top: 0; }
  .general__video {
    height: 24rem;
    background: #272727 url("../img/general/video-mask.png") center no-repeat;
    background-size: 102% 101%; }
  .quality__item--left {
    padding-left: 5rem; }
  .quality__item--right {
    padding-right: 7rem; } }

@media screen and (max-width: 900px) {
  .swiper-container {
    max-width: 32rem;
    min-height: 19rem; }
  .swiper-button-prev {
    left: 135px; }
  .swiper-button-next {
    right: 135px; } }

@media screen and (max-width: 820px) {
  .logo__link {
    display: none; }
  .logo__title {
    margin-left: 0; }
  .logo__subtitle {
    margin-left: 0; }
  .phone--small {
    font-size: 1.7rem; }
  .policy {
    position: relative; }
    .policy::before {
      position: absolute;
      content: url("../img/hero/policy.png");
      top: 1px;
      left: -1.2px; }
    .policy::after {
      position: absolute;
      content: url("../img/hero/policy.png");
      top: 1px;
      right: 0; }
  .quality__item--left {
    padding-left: 3rem; }
  .quality__item--right {
    padding-right: 5rem; } }

@media screen and (max-width: 760px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center; }
  .col-70 {
    width: 100%; }
  .col-30 {
    width: 100%; }
  .hero {
    background-image: none; }
    .hero__button {
      margin-bottom: 1rem; }
  .form-wrap {
    max-width: 100%;
    border: none; }
  input {
    width: 100%; }
  .hero__title {
    margin-bottom: 2rem; }
  .hero__form-wrap {
    margin-top: 4rem; }
  .container--bg {
    background-image: none; }
  .swiper-container {
    max-width: 40.42rem;
    min-height: 23rem; }
  .swiper-button-prev {
    left: 185px; }
  .swiper-button-next {
    right: 185px; }
  .gallery__description {
    padding-right: 0;
    padding-left: 0; }
  .general {
    background-image: none; }
    .general__video {
      width: 44rem;
      background: #272727 url("../img/general/video-mask.png") center no-repeat;
      background-size: 102% 101%; }
    .general__image-wrap {
      display: none; }
  .quality__item {
    padding-left: 0; }
    .quality__item--left {
      padding-left: 0; }
    .quality__item--right {
      padding-right: 0; }
  .catalog__card {
    max-width: 100%; }
  .quality__image {
    width: 19rem; } }

@media screen and (max-width: 570px) {
  .logo__title {
    font-size: 1.3rem; }
  .phone {
    font-size: 1.3rem; }
    .phone--small {
      font-size: 1.3rem; }
  .swiper-container {
    max-width: 27rem;
    min-height: 15rem; }
  .swiper-button-prev {
    left: 105px; }
  .swiper-button-next {
    right: 105px; }
  .general {
    background-image: none; }
    .general__video {
      width: 30rem;
      background: #272727 url("../img/general/video-mask.png") center no-repeat;
      background-size: 102% 101%; }
      .general__video::after {
        bottom: 7px;
        left: 12px; } }

@media screen and (max-width: 420px) {
  .logo__subtitle {
    display: none; }
  .swiper-container {
    max-width: 25rem;
    min-height: 15rem; }
  .swiper-button-prev {
    left: 93px; }
  .swiper-button-next {
    right: 93px; }
  .general {
    background-image: none; }
    .general__video {
      width: 25rem;
      height: 18rem;
      background: #272727 url("../img/general/video-mask.png") center no-repeat;
      background-size: 102% 101%; }
      .general__video::after {
        bottom: 2px;
        left: 8px; } }
